@keyframes loadingInitialBar {
  0%, 50%, 100% {width: 10px;}
  0%, 100% {margin-left: 0px;}
  50% {margin-left: calc(100% - 10px);}
  25%, 75% {width: 10px;}
}
* {outline: none;}
body {font-family: 'Rubik', sans-serif;padding: 0px;margin: 0;font-size: 13px;text-align:center;text-align: -webkit-center;font-family: 'Oxygen', sans-serif;overflow: hidden;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;height: 100%;}
  a { -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;}
body, table {color: rgba(255, 255, 255, 0.9);}
body, button, input {font-family: 'Roboto', sans-serif;}

input,  select {background-color: rgba(255, 255, 255, 0.08);color: rgba(255, 255, 255, 0.95);}
input:focus,  select:focus {background-color: rgba(255, 255, 255, 0.12); transition: all .1s ease;}

a {color: hsl(216, 83%, 66%);text-decoration: none;}
a:hover {text-decoration: underline;}
table {border-spacing: 0px 1px;width: 100%;font-size:13px;border-radius: 4px;overflow: hidden;}

table tr{background-color: hsla(0, 0%, 100%, 0.04);border: none;}
table tr:hover {background-color: hsla(0, 0%, 100%, 0.06);}
table thead tr:first-child {background-color: hsla(0, 0%, 100%, 0.08);}
table thead tr:nth-child(2) {background-color: hsla(0, 0%, 100%, 0.04);}
table thead tr:nth-child(2) th {padding: 0;}
table thead tr:nth-child(2) th input {padding: 5px 8px;}
table th, table td{padding: 5px 5px;text-align: left;}
table tr:first-child th:first-child{border-top-left-radius: 5px;}
table tr:first-child th:last-child{border-top-right-radius: 5px;}
table button {padding: 5px 5px;height: auto;}
[data-table] .empty {font-size: 15px;display:none;background-color: rgba(255, 255, 255, 0.04);padding: 30px 0px;float: left;width: 100%;border-radius: 4px;border-top-left-radius: 0px;border-top-right-radius: 0px;}
[data-table][data-empty='1'] .empty {display: block;}
[data-table] .empty button {margin-top: 8px;}
[data-table][data-empty='1'] table {border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}

[data-table-role='filter'][data-type='numericFromTo'] {}
[data-table-role='filter'][data-type='numericFromTo'] input {padding: 5px 0px;width: calc(50% - 3px);text-align: center;border-radius: 4px;margin: 5px 2px;box-sizing: border-box;}
[data-table-role='filter'][data-type='numericFromTo'] input:first-child {margin-right: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
[data-table-role='filter'][data-type='numericFromTo'] input:last-child {margin-left: -2px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0; /* <-- Apparently some margin are still there even though it's hidden */}

/* useless
[data-table='accounts'] .activeStatus {cursor: pointer;position:relative;font-weight: 600;}
[data-table='accounts'] .activeStatus::after {display: none;border-radius: 20px;position: absolute; content: ''; left: 0; top: 0; border: 2px solid hsl(176, 50%, 45%); width: 16px; height: 16px;}
[data-table='accounts'] .activeStatus[data-status='0'] {color: rgba(255, 255, 255, 0.33);}
[data-table='accounts'] .activeStatus[data-status='1'] {color: rgba(255, 255, 255, 0.66);}
[data-table='accounts'] .activeStatus[data-status='1']::after {opacity: 1; visibility: visible;}
[data-table='accounts'] .activeStatus[data-status='2'] {color: hsl(216, 83%, 66%);}
[data-table='accounts'] .activeStatus .dot {margin-right: 4px;width: 6px;height: 6px;margin-top: 5px;}
[data-table='accounts'] .activeStatus[data-status='0'] .dot {background-color: rgba(255, 255, 255, 0.33);}
[data-table='accounts'] .activeStatus[data-status='1'] .dot {background-color: rgba(255, 255, 255, 0.66);}
[data-table='accounts'] .activeStatus[data-status='2'] .dot {background-color: hsl(216, 83%, 66%);}
*/

/*[data-table-design='players'] td:first-child, [data-table-design='players'] th:first-child {width: 16px;padding: 0px 0px 0px 12px;}
[data-table-design='players'] img {height: 24px;}
*/
[data-table] .tradePileValues {color: rgba(255, 255, 255, 0.2);}
[data-table] .tradePileValues span:nth-child(1) {color: hsl(216, 83%, 66%);}
[data-table] .tradePileValues span:nth-child(2) {color: hsl(119, 83%, 66%);}
[data-table] .tradePileValues span:nth-child(3) {color: hsl(0, 83%, 66%);}
[data-table] .tradePileValues span:nth-child(4) {color: rgba(255, 255, 255, 0.66);}

input, select {border: none;padding: 0px 8px;outline: none;font-size: 13px;}
table input {background-color: rgba(255, 255, 255, 0.05);box-sizing: border-box;margin: 7px 2px;padding: 0px;width: calc(100% - 4px);color: white;border-radius: 4px;/* background-color: transparent !important; */transition: all .1s ease;}
table input:focus {background-color: rgba(255, 255, 255, 0.08);}

button {transition: all .1s ease;background-color: hsl(216, 83%, 55%);padding: 0px 12px;border: none;color: white;cursor: pointer;font-size: 13px;font-weight: 600;outline: none;height: 31px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
button:hover, button:active {background-color: hsl(216, 83%, 60%)}
button:active {opacity: 0.75;}
button.b2 {background-color: rgba(255, 255, 255, 0.2);}
button.b2:hover {background-color: hsla(0, 0%, 100%, 0.25);}
button.b3 {background-color: transparent;}
button.b3:hover {background-color: hsla(0, 0%, 100%, 0.1);}
button[data-disabled='1'] {opacity: 0.5; pointer-events: none;}
button i {margin-right: 2px;}
button i.iconBig {font-size: 17px;margin-right: 0px;}
button.buttonRed {background-color: hsl(4, 83%, 55%);}
button.buttonRed:hover, button.buttonRed:active {background-color: hsl(4, 83%, 60%);}
button.buttonGreen {background-color: hsl(118, 34%, 55%);}
button.buttonGreen:hover, button.buttonGreen:active {background-color: hsl(118, 34%, 60%);}

table th button {
    box-sizing: border-box;
    margin: 7px 2px;
    padding: 0px;
    width: calc(100% - 4px);
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5);
}
table th button:hover {color: white;background-color: rgba(255, 255, 255, 0.1);}
.checkbox {}
.checkbox input {display: none;}
.checkbox .box {cursor: pointer;background-color: rgba(255, 255, 255, 0.1);width: 16px; height: 16px;display: inline-block;}
.checkbox .box:hover, .checkbox .box:active {background-color: rgba(255, 255, 255, 0.15);}
.checkbox .box:active {opacity: 0.75;}
.checkbox i {display: none;margin: 3px 0px 0px 3px;font-size: 10px;float: left;}
.checkbox input:checked + .box {background-color: hsl(216, 83%, 55%);}
.checkbox input:checked + .box:hover {background-color: hsl(216, 83%, 60%);}
.checkbox input:checked + .box i {display: block;}
*::-webkit-scrollbar {width: 10px;height:10px;border-radius: 50px;background-color: rgba(255, 255, 255, 0);transition: all .1s ease-in-out;}
*::-webkit-scrollbar:hover {background-color: rgba(255, 255, 255, 0);}
*::-webkit-scrollbar-track {width: 8px;height:8px;border-radius: 0px;background-color: rgb(29, 30, 35);}
*::-webkit-scrollbar-thumb {background-color: hsl(216, 83%, 55%);border-radius: 0px;border-radius: 3px;}
*::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent;}

.listExpandable {
    height: calc(100% - 41px);
    overflow-y: scroll;
    float: left;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.listExpandable[data-scrollbar-visible='1'] {padding-right: 8px;overflow-y: scroll;}

.lay {}
.lay.l {margin-right: 10px;}
.lay.l:last-child {margin-right: 0px;}
.lay2 {width: calc((100% - 5px) / 2);}
.layAnalyzer {width: calc(100% - 160px);height: 100%;}
.layAnalyzer:first-child {width: 150px;}

.a {will-change: filter, opacity;transition: transform .25s ease, filter .1s ease-in-out, opacity .1s ease-in-out;transform: scale(0.9);position: relative;width: 100%;height: 100%;}
/*body[data-blur='1'] .a {filter: blur(15px);opacity: 0.15;}*/
.h {float: left;width: 100%;height: 48px;/* background-color: hsl(0, 0%, 10%); */color: white;display: none;}
.h .logo {margin: 14px 0px 0px 15px;font-size: 17px;font-weight: 500;}
.body {background-color: hsl(0, 0%, 15%);float: left;width: 100%;height: 100%;overflow: hidden;box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.05), 0px 0px 0px 1px hsla(0, 0%, 0%, 0.05);position: relative;}

body[data-loaded='1'] .a {transform: scale(1);}


.menu {height: 100%;width: 200px;background-color: hsla(0, 0%, 12%, 1);position: absolute;left: 0;bottom: 0px;/* overflow: hidden; *//* border-top: 1px solid hsl(0, 0%, 25%); */font-weight: 600;}
.menu .logo {
    font-size: 17px;
    color: hsl(216, 83%, 66%);
    font-weight: 600;
    padding: 15px;
}
[data-small-menu='1'] .menu {width: 40px}
.menu .links .e {transition: all .1s ease;cursor: pointer;float: left;width: 100%;position: relative;color: hsla(0, 0%, 100%, 0.66);padding: 10px 15px;box-sizing: border-box;}
[data-small-menu='1'] .menu .links .e {padding: 10px 0px; text-align: center;}
.menu .links .e[data-disabled='1'] {opacity: 0.5;pointer-events: none;display: none;}
.menu .links .e:hover {/* background-color: rgba(0, 0, 0, 0.05); */color: hsla(0, 0%, 100%, 0.9);}
.menu .links .e:hover {background-color: rgba(0, 0, 0, 0.33);}
.menu .links .e i {font-size: 15px;/* position: absolute; *//* left: 0; *//* width: 100%; *//* top: 50%; *//* transform: translateY(-50%); */float: left;width: 24px;}
[data-small-menu='1'] .menu .links .e i {width: 100%;}
.menu .title {margin-left: 5px;}
[data-small-menu='1'] .menu .title {display: none;}
.menu .links .e[data-a-current='1'] {background-color: hsl(216, 83%, 55%);color:hsla(0, 0%, 95%, 1);}
.menu .links .e .count {transition: all .15s ease;opacity: 0;transform:translateY(-50%);top: 50%;position: absolute;right: 10px;padding: 2px 8px;color: rgba(255, 255, 255, 0.5);border-radius: 19px;background-color: rgba(255, 255, 255, 0.09);}
.menu .links .e .count[data-active='1'] {
    background-color: hsl(216, 83%, 55%);
    color: white;
}
.menu .links .e .count[data-show='1'] {opacity: 1;}
.menu .links .e[data-a-current='1'] .count {background-color: hsla(0, 0%, 100%, 0.2);color: white;}
.menu .links .e[data-a-current='1'] .count[data-active='1'] {background-color: rgba(255, 255, 255, 0.95);color: hsl(216, 83%, 55%);}

.menu .panelWrapper {width: calc(100% - 30px); position: absolute; bottom: 15px; left: 15px;}
[data-small-menu='1'] .menu .panelWrapper {width: 100%;left: 0;bottom: 0;}
.menu .panel {width: 100%;margin-top: 5px;}
.menu .panelHalf {width: calc((100% - 10px) / 2);}
.menu .panelTop {margin-top: 0px;}
.menu .panelBg {background-color: rgba(255, 255, 255, 0.05);}
.menu .panelBgHover:hover {background-color: rgba(255, 255, 255, 0.1);}
.menu .panel[data-name='platformChanger'] {}
.menu .panel[data-name='platformChanger'] .e {margin-right: 1px;width: calc((100% - 2px) / 3);padding: 0px;}
[data-small-menu='1'] .menu .panel[data-name='platformChanger'] .e {width: 100%;}
.menu .panel[data-name='platformChanger'] .e:last-child {margin-right: 0px;}
.menu .panel[data-name='platformChanger'] .e[data-current='1'] {background-color: rgba(255, 255, 255, 0.95);color: black;}
.menu .panel[data-name='power'] {}
[data-small-menu='1'] .menu .radius {border-radius: 0px;}
.menu .panel[data-name='power'] .power {width: 31px;padding: 0;}
[data-small-menu='1'] .menu .panel[data-name='power'] .power {width: 100%;}
.menu .panel[data-name='power'][data-state='1'] .power {background-color: rgba(255, 255, 255, 0.95); color: black;}
.menu .panel[data-name='power'] .status {width: calc(100% - 33px);margin-left: 2px;height: 31px;box-sizing: border-box;padding-top: 8px;text-transform: uppercase;color: rgba(255, 255, 255, 0.5);}
[data-small-menu='1'] .menu .panel[data-name='power'] .status {display: none;}
.menu .panel[data-name='power'][data-state='1'] .status {color: rgba(255, 255, 255, 0.9);}
.menu .memoryHeap {color: rgba(255, 255, 255, 0.5);margin-top: 15px;}
[data-small-menu='1'] .menu .memoryHeap {display: none;}
.menu .memoryHeap span {color: rgba(255, 255, 255, 0.9);}

.smallMenuSwitch {position: absolute;color: white;position: absolute;height: 64px;right: 0px;width: 20px;top: 0;overflow: hidden;top: 50%;transform: translateY(-50%);}
.smallMenuSwitch .wrapper {cursor: pointer;background-color: hsl(216, 83%, 55%);border-radius: 100px;width: 16px;height: 32px;position: absolute;font-size: 12px;right: -16px;transition: right .25s ease;top: 50%;transform: translateY(-50%);}
.smallMenuSwitch .wrapper:hover {background-color: hsl(216, 83%, 60%);}
.smallMenuSwitch:hover .wrapper {right: 0px;}
[data-small-menu='1'] .smallMenuSwitch {right: -20px;}

[data-small-menu='0'] .smallMenuSwitch .wrapper {border-top-right-radius:0px;border-bottom-right-radius:0px;}
[data-small-menu='1'] .smallMenuSwitch .wrapper {right: 20px;border-top-left-radius:0px;border-bottom-left-radius:0px;}
[data-small-menu='1'] .smallMenuSwitch:hover .wrapper {right: 4px;}

.smallMenuSwitch i {position: absolute;top: 10px;left: 6px;}
.smallMenuSwitch i[data-status='1'] {opacity: 0;left: 4px;}
[data-small-menu='1'] .smallMenuSwitch i[data-status='1'] {opacity: 1;}
[data-small-menu='1'] .smallMenuSwitch i[data-status='0'] {opacity: 0;}

[data-table] .paging {display: none;}

.c {float: left;width: calc(100% - 200px);font-size: 13px;height: 100%;position: relative;margin-left: 200px;box-sizing: border-box;overflow: hidden;}
[data-small-menu='1'] .c {width: calc(100% - 40px);margin-left: 40px;}

.popup {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: hsl(0, 0%, 15%);z-index: 100;opacity: 0;visibility: hidden;transition: all .15s ease-in-out;transform: scale(0.95);}
.popup[data-show='1'] {opacity: 1;visibility: visible;transform: scale(1) translateX(0);}

.popupForm {padding: 15px;box-sizing: border-box;}

.popupForm select option {background-color: white;color: black;}
.popupForm form {text-align: left;margin-top: 10px;}
.popupForm form .title {/* margin-top: 6px; */float: left;/* width: calc((100% - 10px) * 1 / 3); *//* text-align: right; */white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;margin-bottom: 5px;font-weight: 600;}
.popupForm form .title + * {float: left;/* width: calc((100% - 10px) * 2 / 3); *//* margin-left: 10px; */height: 30px;}
.popupForm form .formEl {margin-bottom: 8px;}
.popupForm form .formElSubmit {border-top: 1px solid rgba(255, 255, 255, 0.15);margin-top: 2px;padding-top: 10px;}
.popupForm form button {}

.popup[data-popup='loadingInitial'] {background-color: hsl(0, 0%, 15%);transition: all .25s ease;transform: scale(1.1);}
.popup[data-popup='loadingInitial'][data-show='1'] {transform: scale(1);}
.popup[data-popup='loadingInitial'] .logo {font-size: 25px;color: hsl(216, 83%, 66%);font-weight: 600;}
.popup[data-popup='loadingInitial'] .wrapper {opacity: 0;transform: scale(0.9);transition: all .4s cubic-bezier(0.32, 0.33, 0.52, 2.25);}
.popup[data-popup='loadingInitial'][data-status='1'] .wrapper {opacity: 1;transform: scale(1);}
.popup[data-popup='loadingInitial'] .loadingBar {width: 100px;/* background-color: black; */height: 6px;}
.popup[data-popup='loadingInitial'] .loadingBar .bar {opacity: 0;height: 4px;float: left;width: 100px;background-color: hsl(216, 83%, 66%);border-radius: 500px;margin-top: 5px;animation-name: loadingInitialBar;animation-iteration-count: infinite;animation-duration: 1.5s;animation-timing-function: cubic-bezier(0, 0.6, 1, 0.4);}
.popup[data-popup='loadingInitial'][data-status='1'] .loadingBar .bar {opacity: 1;transition: all .15s ease; transition-delay: 1s;}

.popup[data-popup='chooseList'] {}
.popup[data-popup='chooseList'] .listExpandable {height: calc(100% - 71px);margin-top: 15px;}
.popup[data-popup='chooseList'] .list {text-align: left;}
.popup[data-popup='chooseList'] .list .e {/* padding: 10px 0px; *//* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */margin-top: 10px;}
.popup[data-popup='chooseList'] .list .e .header {margin-bottom: 0px;text-transform: uppercase;font-weight: 600;}
.popup[data-popup='chooseList'] .list .e .header .title {margin-right: 10px;}
.popup[data-popup='chooseList'] .list .e .header .selectAll {transition: all .1s ease;cursor: pointer;color: rgba(255, 255, 255, 0.5);}
.popup[data-popup='chooseList'] .list .e .header .selectAll:hover {color: rgba(255, 255, 255, 0.75);}
.popup[data-popup='chooseList'] .list .e .checkbox {margin-right: 3px;display: none;}
.popup[data-popup='chooseList'] .list .e2 {/* width: 100%; */margin-top: 5px;margin-right: 5px;background-color: rgba(255, 255, 255, 0.1);padding: 5px 8px;cursor: pointer;transition: all .1s ease;max-height: 28px;box-sizing: border-box;}
.popup[data-popup='chooseList'] .list .e2:hover {background-color: rgba(255, 255, 255, 0.2);}
.popup[data-popup='chooseList'] .list .e2[data-selected='1'] {color: black;background-color: rgba(255, 255, 255, 0.95);}

.popup[data-popup='chooseList'] .submitPanel {margin-top: 10px;}


.s {transition: all .15s ease;opacity: 0;pointer-events: none;visibility:hidden;position: absolute;left: 10px;top: 0;width: 100%;height: 100%;padding: 15px 0px;box-sizing: border-box;overflow-y: auto;overflow: hidden;}
.s[data-a-current='1'] {opacity: 1; pointer-events: all; visibility: visible;left:0;}
body[data-a-loading='1'] .s {transition: all .5s ease;opacity:0.66;pointer-events: none;}

.subMenu {/* position: absolute; */bottom: 0;margin-bottom: 10px;background-color: hsla(0, 0%, 12%, 1);/* border-bottom: 1px solid hsla(0, 0%, 12%, 1); *//* border-bottom: 1px dashed rgba(255, 255, 255, 0.15); */}
.subMenu .e {text-decoration: none;color: white;float: left;/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */font-size: 13px;padding: 15px 15px;/* margin-right: 15px; */color: rgba(255, 255, 255, 0.5);font-weight: 600;}
.subMenu .e:hover {color: rgba(255, 255, 255, 0.66);border-color: rgba(255, 255, 255, 0.25);}
.subMenu .e[data-a-current='1'] {border-color: hsl(216, 83%, 55%);color: hsl(216, 83%, 66%);/* color: white; *//* border-color: white; */font-weight: 600;background-color: hsl(0, 0%, 15%);}

.subMenu .e i {margin-right: 2px;}

.sSub {pointer-events:none;visibility:hidden;transition: all .15s ease;left:15px;opacity: 0;position: absolute;top: 45px;width: 100%;height: calc(100% - 45px);box-sizing: border-box;padding: 10px 0px 15px 0px;overflow-y: auto;overflow: hidden;}
.sSub[data-a-current='1'] {opacity: 1;left: 0;pointer-events:all;visibility:visible;}


.s[data-name='bots'] {}
.s[data-name='bots'] .listExpandable {margin-top: 10px;}

.s[data-name='players'] {padding-top: 0px;}
.s[data-name='players'] [data-table] {/* margin-top: 10px; */}
.s[data-name='players'] .listExpandable {margin-top: 10px;}
.s[data-name='players'] .paging {}
.s[data-name='players'] button {margin-right: 5px;}
.s[data-name='players'] button:last-child {margin-right: 0px;}
.s[data-name='players'] .sSub[data-name='analyzer'] .options > * {margin-bottom: 5px;}
.s[data-name='players'] .sSub[data-name='analyzer'] .options .title {text-align:left;margin-bottom:3px;}
.s[data-name='players'] .sSub[data-name='analyzer'] .options input {padding: 5px 8px;color:white;background-color: hsla(0, 0%, 100%, 0.1);}

.s[data-name='captcha'] {
    /* background-color: #f3f3f3; */
}
.s[data-name='captcha'] .captchaList {}
.s[data-name='captcha'] .captchaList .e {background-color: rgba(255, 255, 255, 0.04);margin-right: 10px;width: 174px;overflow: hidden;margin-bottom: 10px;user-select: none;}
.s[data-name='captcha'] .captchaList .e .wrapper {
    position: relative;
    background-color: white;
    padding: 10px 0px;
}
.s[data-name='captcha'] .captchaList .e button {border-top-left-radius: 0px;border-top-right-radius: 0px;/* margin-top: 15px; */}
.s[data-name='captcha'] .captchaList .e img {/* border: 3px solid hsl(216, 83%, 55%); */border-radius: 500px;margin-left: 30px;transition: all .1s ease;}
.s[data-name='captcha'] .captchaList .e .arrow {position: absolute;height: 100%;width: 50px;color: hsl(0, 0%, 75%);top: 0;font-size: 16px;cursor: pointer;transition: all .1s ease;z-index: 1;}
.s[data-name='captcha'] .captchaList .e .arrow:hover {
    color: hsl(216, 83%, 55%);
    font-size: 18px;
}
.s[data-name='captcha'] .captchaList .e .arrow.left {right: 0;}
.s[data-name='captcha'] .captchaList .e .arrow.right {left: 0;transform: scaleX(-1);}
.s[data-name='captcha'] .captchaList .e .arrow i {position: absolute;top: 50%;width: 100%;left: 0;transform: translateY(-50%);}

.s[data-name='captcha'] h2 {color: rgba(255, 255, 255, 0.33);}

.s[data-name='proxies'] {}
.s[data-name='proxies'] .listExpandable {margin-top: 10px;}
.s[data-name='proxies'] button {margin-right: 5px;}
.s[data-name='proxies'] button:last-child {margin-right: 0px;}

.s[data-name='settings'] {padding-top: 0px;}
.s[data-name='settings'] .sSub[data-name='global'] .e {margin-bottom: 10px;}
.s[data-name='settings'] .sSub[data-name='global'] input[type='number'] {width: 80px;padding: 3px 5px;text-align: center;}

.s[data-name='settings'] .sSub[data-name='steps'] .priceStepList {}
.s[data-name='settings'] .sSub[data-name='steps'] .priceStepList .e {margin-top: 5px;}
.s[data-name='settings'] .sSub[data-name='steps'] .priceStepList input {padding: 2px 5px;; width: 100px; margin-right: 10px; margin-left: 5px;}
