body {font-family: 'Rubik', sans-serif;padding: 0px;margin: 0;font-size: 13px;text-align:center;font-family: 'Oxygen', sans-serif;overflow: hidden;}
body, table {color: rgba(255, 255, 255, 0.95);}
body, button, input {font-family: 'Roboto', sans-serif;}

table {border-spacing: 0px 1px;width: 100%;font-size:13px;border-radius: 5px;overflow: hidden;}
table tr{background-color: hsla(0, 0%, 100%, 0.04);border: none;}
table tr:hover {background-color: hsla(0, 0%, 100%, 0.06);}
table thead tr:first-child {background-color: hsla(0, 0%, 100%, 0.08);}
table thead tr:nth-child(2) {background-color: hsla(0, 0%, 100%, 0.06);}
table thead tr:nth-child(2) th {padding: 0;}
table thead tr:nth-child(2) th input {padding: 8px 12px;}
table th, table td{padding: 8px 12px; text-align: left}
table tr:first-child th:first-child{border-top-left-radius: 5px;}
table tr:first-child th:last-child{border-top-right-radius: 5px;}

[data-table] .empty {font-size: 15px;display:none;}
[data-table][data-empty='1'] .empty {display: block;}
[data-table] .empty button {margin-top: 8px;}

[data-table='accounts'] .activeStatus {cursor: pointer;position:relative;}
[data-table='accounts'] .activeStatus::after {display: none;border-radius: 20px;position: absolute; content: ''; left: 0; top: 0; border: 2px solid hsl(176, 50%, 45%); width: 16px; height: 16px;}
[data-table='accounts'] .activeStatus[data-status='0'] {color: rgba(255, 255, 255, 0.33);}
[data-table='accounts'] .activeStatus[data-status='1'] {color: hsl(176, 50%, 45%);}
[data-table='accounts'] .activeStatus[data-status='1']::after {opacity: 1; visibility: visible;}
[data-table='accounts'] .activeStatus[data-status='2'] {color: hsl(121, 50%, 45%);}
[data-table='accounts'] .activeStatus .dot {margin-right: 5px;width: 10px;height: 10px;margin-top: 3px;}
[data-table='accounts'] .activeStatus[data-status='0'] .dot {background-color: rgba(255, 255, 255, 0.33);}
[data-table='accounts'] .activeStatus[data-status='1'] .dot {background-color: hsl(176, 50%, 45%);}
[data-table='accounts'] .activeStatus[data-status='2'] .dot {background-color: hsl(121, 50%, 45%);}

[data-table-design='players'] td:first-child, [data-table-design='players'] th:first-child {width: 16px;padding: 0px 0px 0px 12px;}
[data-table-design='players'] img {height: 24px;}

input, select {border: none;padding: 0px 8px;outline: none;font-size: 13px;}
table input {background-color: transparent;box-sizing: border-box;margin: 0;padding: 0;width: 100%;color: white;}

button {transition: all .1s ease;background-color: hsl(216, 83%, 55%);padding: 0px 12px;border: none;color: white;cursor: pointer;font-size: 13px;font-weight: 600;outline: none;height: 31px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
button:hover, button:active {background-color: hsl(216, 83%, 60%)}
button:active {opacity: 0.75;}
button.b2 {background-color: rgba(255, 255, 255, 0.2);}
button.b2:hover {background-color: hsla(0, 0%, 100%, 0.25);}
button.b3 {background-color: transparent;}
button.b3:hover {background-color: hsla(0, 0%, 100%, 0.1);}
button[data-disabled='1'] {opacity: 0.5; pointer-events: none;}
button i {margin-right: 2px;}
button i.iconBig {font-size: 17px;margin-right: 0px;}


*::-webkit-scrollbar {width: 10px;height:10px;border-radius: 50px;background-color: rgba(255, 255, 255, 0);transition: all .1s ease-in-out;}
*::-webkit-scrollbar:hover {background-color: rgba(255, 255, 255, 0);}
*::-webkit-scrollbar-track {width: 8px;height:8px;border-radius: 0px;background-color: rgb(29, 30, 35);}
*::-webkit-scrollbar-thumb {background-color: hsl(216, 83%, 55%);border-radius: 0px;}
*::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent;}

.lay {}
.lay.l {margin-right: 5px;}
.lay.l:last-child {margin-right: 0px;}
.lay2 {width: calc((100% - 5px) / 2);}

.a {will-change: filter, opacity;transition: filter .1s ease-in-out, opacity .1s ease-in-out;}
body[data-blur='1'] .a {filter: blur(15px);opacity: 0.15;}
.h {float: left;width: 100%;height: 48px;/* background-color: hsl(0, 0%, 10%); */color: white;display: none;}
.h .logo {margin: 14px 0px 0px 15px;font-size: 17px;font-weight: 500;}
.body {background-color: hsl(0, 0%, 15%);float: left;width: 100%;height: 100%;overflow: hidden;box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.05), 0px 0px 0px 1px hsla(0, 0%, 0%, 0.05);position: relative;}

.menu {height: 100%;width: 200px;background-color: hsla(0, 0%, 12%, 1);position: absolute;left: 0;bottom: 0px;overflow: hidden;/* border-top: 1px solid hsl(0, 0%, 25%); */font-weight: 600;}
.menu .e {transition: all .1s ease;cursor: pointer;float: left;width: 100%;position: relative;color: hsla(0, 0%, 100%, 0.66);padding: 10px 15px;box-sizing: border-box;}
.menu .e:hover {/* background-color: rgba(0, 0, 0, 0.05); */color: hsla(0, 0%, 100%, 0.9);}
.menu .e:hover {background-color: rgba(0, 0, 0, 0.33);}
.menu .e i {font-size: 15px;/* position: absolute; *//* left: 0; *//* width: 100%; *//* top: 50%; *//* transform: translateY(-50%); */float: left;width: 24px;}
.menu .title {margin-left: 5px;}
.menu .e[data-a-current='1'] {background-color: hsl(216, 83%, 55%);color:hsla(0, 0%, 95%, 1);}

.c {float: left;width: calc(100% - 200px);font-size: 13px;height: 100%;position: relative;margin-left: 200px;box-sizing: border-box;overflow: hidden;}




.popup {position: absolute;left: 0;top: 0;width: 100%;height: 100%;/* background-color: hsla(0, 0%, 15%, 0.85); */z-index: 100;opacity: 0;visibility: hidden;transition: all .15s ease-in-out;transform: scale(0.95);}
.popup[data-show='1'] {opacity: 1;visibility: visible;transform: scale(1) translateX(0);}

.popup[data-popup='addAccount'] {padding: 15px;box-sizing: border-box;}
.popup[data-popup='addAccount'] input, .popup[data-popup='addAccount'] select {background-color: rgba(255, 255, 255, 0.08);color: white;}
.popup[data-popup='addAccount'] form {text-align: left;}
.popup[data-popup='addAccount'] form .title {margin-top: 6px;float: left;width: calc((100% - 10px) * 1 / 3);text-align: right;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;}
.popup[data-popup='addAccount'] form .title + * {float: left;width: calc((100% - 10px) * 2 / 3);margin-left: 10px;height: 30px;}
.popup[data-popup='addAccount'] form .w100 {margin-bottom: 5px;}
.popup[data-popup='addAccount'] form button {}


.s {transition:all .15s ease;opacity: 0;pointer-events: none;visibility:hidden;position: absolute;left: 15px;top: 0;width: 100%;height: 100%;padding: 15px 0px;box-sizing: border-box;overflow-y: auto;overflow-x: hidden;}
.s[data-a-current='1'] {opacity: 1; pointer-events: all; visibility: visible;left:0;}


.subMenu {/* position: absolute; */bottom: 0;width: 100%;margin-bottom: 10px;background-color: hsla(0, 0%, 12%, 1);/* border-bottom: 1px solid hsla(0, 0%, 12%, 1); *//* border-bottom: 1px dashed rgba(255, 255, 255, 0.15); */}
.subMenu .e {text-decoration: none;color: white;float: left;/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */font-size: 13px;padding: 15px 15px;/* margin-right: 15px; */color: rgba(255, 255, 255, 0.5);font-weight: 600;}
.subMenu .e:hover {color: rgba(255, 255, 255, 0.66);border-color: rgba(255, 255, 255, 0.25);}
.subMenu .e[data-a-current='1'] {border-color: hsl(216, 83%, 55%);color: hsl(216, 83%, 66%);/* color: white; *//* border-color: white; */font-weight: 600;background-color: hsl(0, 0%, 15%);}
.subMenu .e i {margin-right: 2px;}

.sSub {pointer-events:none;visibility:hidden;transition: all .15s ease;left:15px;opacity: 0;position: absolute;top: 45px;width: 100%;height: calc(100% - 45px);box-sizing: border-box;padding: 10px 0px 15px 0px;overflow-y: auto;}
.sSub[data-a-current='1'] {opacity: 1;left: 0;pointer-events:all;visibility:visible;}

.s[data-name='players'] {padding-top: 0px;}
.s[data-name='players'] [data-table] {margin-top: 10px;}
.s[data-name='players'] .paging {}
.s[data-name='players'] button:first-child {margin-right: 5px;}
.s[data-name='players'] [data-table] .paging {display: none;}

.s[data-name='bots'] [data-table] {margin-top: 10px;}
